[submodule "solidity/lib/trident"]
	path = solidity/lib/trident
	url = https://github.com/sushiswap/trident
[submodule "solidity/lib/sushiswap"]
	path = solidity/lib/sushiswap
	url = https://github.com/sushiswap/sushiswap
