[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
	branch = v1.3.0
[submodule "/Users/urlauba/arbitrage-defi/lib/v3-periphery"]
	branch = v1.3.0
[submodule "solidity/lib/v3-periphery"]
	path = solidity/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "solidity/lib/openzeppelin-contracts"]
	path = solidity/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
